body {
    background-color: #b5f0b8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("bgpro.jpg");
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 125px;
    height: 115px;
}

h1, h2 {
    color: #333;
    text-align: center;
}

#reportSection, #ratingSection {
    margin-bottom: 20px;
    padding: 20px;
    /* background-color: aliceblue; */
    border: 1px solid #e8e0e0;
    width: 80%; /* Adjust width as needed */
    max-width: 600px; /* Prevents the sections from becoming too wide on larger screens */
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, select, input, button {
    margin: 10px 0;
    display: block;
    width: 100%; /* Full width of their parent container */
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: auto; /* Adjust button width as necessary, or keep it full width */
    align-self: center; /* Align button to center in its container */
}

button:hover {
    background-color: #b5f0b8;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%; /* Ensure the list spans the full width of its parent */
    text-align: left; /* Align list text to the left */
}
